* {
    box-sizing: border-box;
}

body {
    background-image: url('../kepek/konyv_hatter.jpg');
    background-size: 500px;
    background-repeat: repeat;
    background-color: brown;
    font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
    color: #443322;
    background-color: #443322;
}

#keret {
    background-color: #ca8;
    border: #eca solid 2px;
    margin: 0 auto;
    max-width: 900px;

}

h1 {
    font-size: 33px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 27px;
    text-align: center;
    margin: 0;
}

.konyv {
    background-color: #eca;
    border: #432 solid 2px;
    border-radius: 5px;
    margin: 20px auto;
    width: 90%;
    padding: 10px;
    box-shadow: #321 5px 5px 5px 0px;
    background-image: url(../kepek/book_icon.png);
    background-position: right center;
    background-size: 120px;
    background-repeat: no-repeat;
}

.cimsorok h2, h3, h4 {
    padding: 10px 0;
    margin: 0;
}

.cimsorok h2 {
    font-size: 20px;
    text-align: left;
}

.cimsorok h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.cimsorok h4 {
    font-size: 16px;
}

.elvalaszto {
    content: '';
    clear: both;
    display: table;
}

img {
    float: left;
    width: 120px;
    margin: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

.kiemelt {
    font-weight: bold;
    font-size: larger;
}